.macBookPro4 {
  background-color: white;
  padding: 47px 0 88px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.flexWrapperThirteen {
  margin-bottom: 98px;
  padding: 0 0 0 91px;
  display: flex;
  align-items: center;
}
.conceptBoy {
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 700;
  color: rgba(64, 66, 226, 1);
  margin-right: 794px;
}
.flexWrapperEight {
  margin-right: 13px;
  border-radius: 10px;
  padding: 5px 22px 5px 21px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(194, 194, 194, 1);
}
.logIn {
  font-family: "Catamaran";
  font-size: 22px;
  font-weight: 600;
  color: rgba(6, 6, 6, 1);
}
.flexWrapperSeven {
  background-color: rgba(81, 84, 255, 1);
  border-radius: 10px;
  padding: 6px 28px;
  display: flex;
  align-items: center;
}
.getStarted {
  font-family: "Catamaran";
  font-size: 22px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}
.flexWrapperFourteen {
  margin-bottom: 70px;
  padding: 0 0 0 91px;
  display: flex;
  align-items: flex-start;
}
.flexWrapperEighteen {
  margin-right: 8px;
  padding: 54px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.unleashYourLearningOnline {
  width: 499px;
  font-family: "Open Sans";
  font-size: 60px;
  font-weight: 700;
  color: black;
  margin-bottom: 21px;
}
.learnFromAMyriadOfCourses {
  width: 500px;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  color: black;
}
.g12 {
  margin-right: 9px;
  padding: 32px 53px 45px 30px;
  position: relative;
  background-image: url("https://static.overlay-tech.com/assets/dac5a7b7-698a-4038-9988-a99eb219a901.svg");
}
.g18 {
  width: 517px;
  height: 324px;
  position: relative;
  background-image: url("https://static.overlay-tech.com/assets/78cdbec5-e228-4112-9a00-e95774587a9f.svg");
}
.g62 {
  width: 207px;
  height: 310px;
  position: absolute;
  left: 226px;
  top: 52px;
  background-image: url("https://static.overlay-tech.com/assets/e2f55785-4735-4b69-a27c-05aaa3c71cab.svg");
}
.g78 {
  width: 185px;
  height: 255px;
  position: absolute;
  left: 237px;
  top: 70px;
  background-image: url("https://static.overlay-tech.com/assets/fab1fdf2-a755-47bd-8316-c7a14783eb63.svg");
}
.g94 {
  width: 43px;
  height: 8px;
  position: absolute;
  left: 308px;
  top: 59px;
  background-image: url("https://static.overlay-tech.com/assets/1238552e-3630-4f04-898b-b73ed6b04cfb.svg");
}
.g110 {
  width: 163px;
  height: 141px;
  position: absolute;
  left: 249px;
  top: 86px;
  background-image: url("https://static.overlay-tech.com/assets/4248af26-dc13-4922-afd1-60437867156d.svg");
}
.g454 {
  width: 108px;
  height: 93px;
  position: absolute;
  left: 445px;
  top: 269px;
  background-image: url("https://static.overlay-tech.com/assets/33c68fb3-59c8-40cb-882e-0ed0667dd770.svg");
}
.g502 {
  width: 15px;
  height: 9px;
  position: absolute;
  left: 430px;
  top: 351px;
  background-image: url("https://static.overlay-tech.com/assets/eac6ca39-e879-457f-a09b-8c1a93b3bc1a.svg");
}
.path518 {
  position: absolute;
  left: 428px;
  top: 356px;
}
.flexWrapperOne {
  padding: 4px 121px 3px 18px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 47px;
  top: 332px;
  background-image: url("https://static.overlay-tech.com/assets/266dd348-8364-43fc-9fe9-0fe82dc91982.svg");
}
.g1072 {
  width: 9px;
  height: 43px;
  position: absolute;
  left: 160px;
  top: 319px;
  background-image: url("https://static.overlay-tech.com/assets/9287b29a-5f50-4eda-86d4-82f7ab185081.svg");
}
.g1088 {
  width: 9px;
  height: 43px;
  position: absolute;
  left: 189px;
  top: 319px;
  background-image: url("https://static.overlay-tech.com/assets/8662a695-97b1-4448-8e4c-0e748d0ecc96.svg");
}
.g1120 {
  width: 22px;
  height: 2px;
  position: absolute;
  left: 209px;
  top: 359px;
  background-image: url("https://static.overlay-tech.com/assets/f0373b92-e5fe-4f21-aea6-67686f9c3b75.svg");
}
.g1168 {
  width: 17px;
  height: 14px;
  position: absolute;
  left: 243px;
  top: 348px;
  background-image: url("https://static.overlay-tech.com/assets/b4f1d802-fb6b-4750-9c38-4d746bb58694.svg");
}
.g1184 {
  width: 19px;
  height: 14px;
  position: absolute;
  left: 241px;
  top: 348px;
  background-image: url("https://static.overlay-tech.com/assets/ec18cc0b-a73c-444c-81f6-7be8d73abe08.svg");
}
.path1390 {
  position: absolute;
  left: 220px;
  top: 295px;
}
.path1392 {
  position: absolute;
  left: 242px;
  top: 295px;
}
.flexWrapperTwo {
  padding: 112px 12px 3px 0;
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: 49px;
  top: 32px;
}
.path58 {
  position: relative;
}
.path716 {
  position: absolute;
  left: 22px;
  bottom: 38px;
}
.g958 {
  width: 39px;
  height: 9px;
  position: absolute;
  left: 25px;
  top: 167px;
  background-image: url("https://static.overlay-tech.com/assets/ab04e36a-aa12-4da1-8eb9-00a371180bcb.svg");
}
.g830 {
  width: 132px;
  height: 31px;
  position: absolute;
  left: 26px;
  bottom: 26px;
  background-image: url("https://static.overlay-tech.com/assets/0350f39e-973a-434f-a227-985115d26219.svg");
}
.g910 {
  width: 51px;
  height: 21px;
  position: absolute;
  left: 27px;
  top: 173px;
  background-image: url("https://static.overlay-tech.com/assets/22e3c834-3f59-4136-b59c-1d45875f18a2.svg");
}
.g942 {
  width: 37px;
  height: 34px;
  position: absolute;
  left: 27px;
  top: 138px;
  background-image: url("https://static.overlay-tech.com/assets/5e55d032-cc42-4223-bac8-e94565871520.svg");
}
.g926 {
  width: 26px;
  height: 35px;
  position: absolute;
  left: 31px;
  top: 118px;
  background-image: url("https://static.overlay-tech.com/assets/7009a042-7b55-4b82-b588-3254616d5829.svg");
}
.path820 {
  position: absolute;
  left: 35px;
  bottom: 27px;
}
.path826 {
  position: absolute;
  left: 39px;
  bottom: 40px;
}
.path824 {
  position: absolute;
  left: 39px;
  bottom: 44px;
}
.path822 {
  position: absolute;
  left: 39px;
  bottom: 49px;
}
.g722 {
  width: 111px;
  height: 22px;
  position: absolute;
  left: 41px;
  bottom: 57px;
  background-image: url("https://static.overlay-tech.com/assets/c4482151-95bb-421a-a828-e069a84d3d71.svg");
}
.path718 {
  position: absolute;
  left: 44px;
  bottom: 60px;
}
.g1038 {
  width: 28px;
  height: 2px;
  position: absolute;
  left: 45px;
  top: 175px;
  background-image: url("https://static.overlay-tech.com/assets/d59474e1-af83-49e5-84a4-b734de4899e6.svg");
}
.g738 {
  width: 94px;
  height: 1px;
  position: absolute;
  left: 48px;
  bottom: 72px;
  background-image: url("https://static.overlay-tech.com/assets/bc0aa519-c12e-4422-97aa-549c6d448804.svg");
}
.g754 {
  width: 94px;
  height: 1px;
  position: absolute;
  left: 48px;
  bottom: 69px;
  background-image: url("https://static.overlay-tech.com/assets/64a02eb2-9f25-429d-901c-bea4d5c45577.svg");
}
.g770 {
  width: 94px;
  height: 1px;
  position: absolute;
  left: 48px;
  bottom: 67px;
  background-image: url("https://static.overlay-tech.com/assets/39bebce7-f2f9-4837-a7fe-6e336b26b059.svg");
}
.g1006 {
  width: 15px;
  height: 16px;
  position: absolute;
  left: 48px;
  top: 113px;
  background-image: url("https://static.overlay-tech.com/assets/8151e0bc-2291-4731-9f11-7be5637f6083.svg");
}
.g802 {
  width: 94px;
  height: 1px;
  position: absolute;
  left: 48px;
  bottom: 62px;
  background-image: url("https://static.overlay-tech.com/assets/ba3223f6-e162-421a-98c7-fb1d645fded3.svg");
}
.g786 {
  width: 94px;
  height: 1px;
  position: absolute;
  left: 48px;
  bottom: 65px;
  background-image: url("https://static.overlay-tech.com/assets/f19fcf3e-cb1c-45a8-b120-7163d14c6006.svg");
}
.g974 {
  width: 9px;
  height: 13px;
  position: absolute;
  left: 50px;
  top: 127px;
  background-image: url("https://static.overlay-tech.com/assets/3a669f73-448e-40e4-a634-ca2a613334b2.svg");
}
.g990 {
  width: 12px;
  height: 14px;
  position: absolute;
  left: 52px;
  top: 117px;
  background-image: url("https://static.overlay-tech.com/assets/0b7c590d-753e-4d25-a918-aa43da4f658b.svg");
}
.g1022 {
  width: 3px;
  height: 5px;
  position: absolute;
  left: 52px;
  top: 122px;
  background-image: url("https://static.overlay-tech.com/assets/f37ddb96-ecde-4b1d-b3da-dd3652e3ea7c.svg");
}
.g878 {
  width: 40px;
  height: 57px;
  position: absolute;
  left: 55px;
  bottom: 93px;
  background-image: url("https://static.overlay-tech.com/assets/1251caaa-9d97-4a09-8e02-05e42552c2c3.svg");
}
.g846 {
  width: 47px;
  height: 51px;
  position: absolute;
  left: 57px;
  bottom: 104px;
  background-image: url("https://static.overlay-tech.com/assets/74bbf9a5-3fc9-4a0c-8a20-a2aa069f952f.svg");
}
.g1054 {
  width: 36px;
  height: 23px;
  position: absolute;
  left: 60px;
  top: 154px;
  background-image: url("https://static.overlay-tech.com/assets/db2426ea-1f0a-406f-abd7-965b7e922813.svg");
}
.path32 {
  position: absolute;
  left: 67px;
  bottom: 3px;
}
.path36 {
  position: absolute;
  left: 74px;
  bottom: 0;
}
.path34 {
  position: absolute;
  left: 77px;
  bottom: 15px;
}
.path1068 {
  position: absolute;
  left: 80px;
  top: 163px;
}
.g894 {
  width: 14px;
  height: 15px;
  position: absolute;
  left: 81px;
  bottom: 89px;
  background-image: url("https://static.overlay-tech.com/assets/e4be358c-a629-4de7-9acd-dbca42c0e411.svg");
}
.g862 {
  width: 16px;
  height: 12px;
  position: absolute;
  left: 90px;
  bottom: 101px;
  background-image: url("https://static.overlay-tech.com/assets/5937e619-0ccd-4b7b-b8b2-7de2cc2986b7.svg");
}
.g40 {
  width: 100px;
  height: 168px;
  position: absolute;
  left: 104px;
  bottom: 13px;
  background-image: url("https://static.overlay-tech.com/assets/90d77334-fcae-4cc6-b2a4-6eac34724671.svg");
}
.g1104 {
  width: 39px;
  height: 9px;
  position: absolute;
  left: 111px;
  bottom: 38px;
  background-image: url("https://static.overlay-tech.com/assets/f3738688-2e01-498a-bfac-a315ea1a3de5.svg");
}
.g1232 {
  width: 79px;
  height: 53px;
  position: absolute;
  left: 115px;
  bottom: 6px;
  background-image: url("https://static.overlay-tech.com/assets/a9e7e3cb-bf44-4207-94ca-0581ce2140cf.svg");
}
.g1264 {
  width: 67px;
  height: 50px;
  position: absolute;
  left: 115px;
  bottom: 58px;
  background-image: url("https://static.overlay-tech.com/assets/ab947138-6963-4951-8048-a84967909819.svg");
}
.path54 {
  position: absolute;
  left: 121px;
  top: 28px;
}
.g1200 {
  width: 46px;
  height: 52px;
  position: absolute;
  left: 129px;
  bottom: 6px;
  background-image: url("https://static.overlay-tech.com/assets/078e204d-74c7-4e6c-9563-f4c6978d40ad.svg");
}
.path56 {
  position: absolute;
  left: 137px;
  top: 44px;
}
.g1328 {
  width: 20px;
  height: 23px;
  position: absolute;
  left: 142px;
  bottom: 113px;
  background-image: url("https://static.overlay-tech.com/assets/8878cdb9-f2bd-4d74-9d65-f2dc66d43c76.svg");
}
.g1248 {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 144px;
  bottom: 102px;
  background-image: url("https://static.overlay-tech.com/assets/b2c85196-73db-4aaf-a078-83d23d664ab5.svg");
}
.g1280 {
  width: 6px;
  height: 10px;
  position: absolute;
  left: 147px;
  bottom: 82px;
  background-image: url("https://static.overlay-tech.com/assets/2b9d7b61-729d-4338-8c0f-39803bac1c1e.svg");
}
.g1344 {
  width: 4px;
  height: 5px;
  position: absolute;
  left: 148px;
  bottom: 115px;
  background-image: url("https://static.overlay-tech.com/assets/db4a0549-2634-4fad-b9c4-58aaf0975403.svg");
}
.g1312 {
  width: 17px;
  height: 18px;
  position: absolute;
  left: 148px;
  bottom: 110px;
  background-image: url("https://static.overlay-tech.com/assets/7fc6dcc5-bcb7-4e49-8f5e-20957b8b3d3c.svg");
}
.g1136 {
  width: 22px;
  height: 5px;
  position: absolute;
  left: 160px;
  bottom: 0;
  background-image: url("https://static.overlay-tech.com/assets/97ff9d31-c9ff-4255-87ec-303b9a85ca9a.svg");
}
.g1152 {
  width: 6px;
  height: 5px;
  position: absolute;
  left: 161px;
  bottom: 4px;
  background-image: url("https://static.overlay-tech.com/assets/ed6fc45e-630d-446d-9aa4-598ab25dec1d.svg");
}
.path1396 {
  position: absolute;
  left: 165px;
  bottom: 62px;
}
.g1360 {
  width: 35px;
  height: 3px;
  position: absolute;
  left: 172px;
  bottom: 65px;
  background-image: url("https://static.overlay-tech.com/assets/698236b8-7407-46f8-9faf-c4959731c557.svg");
}
.g1296 {
  width: 16px;
  height: 4px;
  position: absolute;
  left: 179px;
  bottom: 68px;
  background-image: url("https://static.overlay-tech.com/assets/cb209bfd-c866-4daf-b918-02d2888ffacb.svg");
}
.path1394 {
  position: absolute;
  left: 187px;
  bottom: 40px;
}
.g1216 {
  width: 7px;
  height: 8px;
  position: absolute;
  left: 189px;
  bottom: 1px;
  background-image: url("https://static.overlay-tech.com/assets/81264ae4-7b70-4520-8d5c-ad1d574e94c8.svg");
}
.path158 {
  position: absolute;
  left: 199px;
  bottom: 106px;
}
.g144 {
  width: 154px;
  height: 7px;
  position: absolute;
  left: 199px;
  bottom: 106px;
  background-image: url("https://static.overlay-tech.com/assets/fc8a0aaa-ce17-4e2e-b48c-48ae2eee3368.svg");
}
.g1376 {
  width: 16px;
  height: 32px;
  position: absolute;
  left: 205px;
  bottom: 66px;
  background-image: url("https://static.overlay-tech.com/assets/0f85d490-eef4-4f42-96ef-24f71bdbffc2.svg");
}
.g326 {
  width: 104px;
  height: 102px;
  position: absolute;
  left: 217px;
  top: 85px;
  background-image: url("https://static.overlay-tech.com/assets/ae46090d-4bd2-4e71-8d48-0f8ee04f252a.svg");
}
.path136 {
  position: absolute;
  left: 224px;
  bottom: 62px;
}
.g288 {
  width: 23px;
  height: 23px;
  position: absolute;
  left: 226px;
  top: 166px;
  background-image: url("https://static.overlay-tech.com/assets/c4ab7910-eb10-400d-a427-3d5308b8f8fa.svg");
}
.path140 {
  position: absolute;
  left: 228px;
  bottom: 69px;
}
.g438 {
  width: 3px;
  height: 19px;
  position: absolute;
  left: 233px;
  top: 123px;
  background-image: url("https://static.overlay-tech.com/assets/2cbc53c4-979a-473a-8464-4d93e977551b.svg");
}
.path138 {
  position: absolute;
  left: 238px;
  bottom: 68px;
}
.g310 {
  width: 34px;
  height: 13px;
  position: absolute;
  left: 241px;
  top: 181px;
  background-image: url("https://static.overlay-tech.com/assets/9853a7d2-35a0-4422-96c7-d9e1ed97207d.svg");
}
.g406 {
  width: 29px;
  height: 34px;
  position: absolute;
  left: 244px;
  top: 70px;
  background-image: url("https://static.overlay-tech.com/assets/d5c7af67-4c1b-4601-81c8-795ae9551eaa.svg");
}
.g422 {
  width: 7px;
  height: 7px;
  position: absolute;
  left: 248px;
  top: 92px;
  background-image: url("https://static.overlay-tech.com/assets/6d36ce2b-4811-4ce9-a4ec-dfe45d5a24b2.svg");
}
.g390 {
  width: 20px;
  height: 23px;
  position: absolute;
  left: 250px;
  top: 77px;
  background-image: url("https://static.overlay-tech.com/assets/f9031a9c-e939-452d-bdd1-ad34ca7bff97.svg");
}
.g374 {
  width: 15px;
  height: 17px;
  position: absolute;
  left: 250px;
  top: 95px;
  background-image: url("https://static.overlay-tech.com/assets/819f632c-d370-4f98-976a-41de7eaaf23c.svg");
}
.path124 {
  position: absolute;
  left: 258px;
  bottom: 58px;
}
.path196 {
  position: absolute;
  right: 38px;
  top: 0;
}
.path126 {
  position: absolute;
  left: 271px;
  bottom: 66px;
}
.g200 {
  width: 184px;
  height: 121px;
  position: absolute;
  right: 47px;
  top: 13px;
  background-image: url("https://static.overlay-tech.com/assets/126dc613-58de-4a17-93ae-f1ca987e7e86.svg");
}
.path128 {
  position: absolute;
  left: 279px;
  bottom: 66px;
}
.path160 {
  position: absolute;
  left: 290px;
  bottom: 104px;
}
.path232 {
  position: absolute;
  left: 290px;
  top: 33px;
}
.path230 {
  position: absolute;
  left: 291px;
  top: 33px;
}
.path234 {
  position: absolute;
  right: 57px;
  top: 120px;
}
.path220 {
  position: absolute;
  right: 62px;
  top: 45px;
}
.g240 {
  width: 27px;
  height: 13px;
  position: absolute;
  right: 177px;
  top: 47px;
  background-image: url("https://static.overlay-tech.com/assets/1eadcfa0-9607-485d-8116-b6ef13d25d0c.svg");
}
.path130 {
  position: absolute;
  right: 176px;
  bottom: 62px;
}
.path186 {
  position: absolute;
  right: 15px;
  top: 38px;
}
.g342 {
  width: 13px;
  height: 28px;
  position: absolute;
  right: 185px;
  top: 64px;
  background-image: url("https://static.overlay-tech.com/assets/b5798690-013c-4d0e-a7ad-f3d6bff7cbff.svg");
}
.path132 {
  position: absolute;
  right: 191px;
  bottom: 68px;
}
.g358 {
  width: 11px;
  height: 17px;
  position: absolute;
  right: 183px;
  top: 48px;
  background-image: url("https://static.overlay-tech.com/assets/b403341c-58e4-4091-b53e-a786ff0458b2.svg");
}
.path188 {
  position: absolute;
  right: 23px;
  top: 51px;
}
.path134 {
  position: absolute;
  right: 181px;
  bottom: 69px;
}
.g256 {
  width: 7px;
  height: 5px;
  position: absolute;
  right: 173px;
  top: 46px;
  background-image: url("https://static.overlay-tech.com/assets/5b45578e-b856-427d-bcbe-2ff59ba5855b.svg");
}
.g272 {
  width: 4px;
  height: 2px;
  position: absolute;
  right: 170px;
  top: 45px;
  background-image: url("https://static.overlay-tech.com/assets/2fb3cc9c-ffa9-46b9-a122-98653288bdf1.svg");
}
.path222 {
  position: absolute;
  right: 170px;
  top: 54px;
}
.path162 {
  position: absolute;
  right: 0;
  top: 79px;
}
.g166 {
  width: 142px;
  height: 99px;
  position: absolute;
  right: 7px;
  top: 92px;
  background-image: url("https://static.overlay-tech.com/assets/12f7343c-f093-437d-a22c-57ad7d9e0ceb.svg");
}
.path214 {
  position: absolute;
  right: 53px;
  top: 24px;
}
.path216 {
  position: absolute;
  right: 53px;
  top: 34px;
}
.path224 {
  position: absolute;
  right: 132px;
  top: 93px;
}
.path218 {
  position: absolute;
  right: 54px;
  top: 41px;
}
.path192 {
  position: absolute;
  right: 34px;
  top: 139px;
}
.path190 {
  position: absolute;
  right: 32px;
  top: 131px;
}
.g522 {
  width: 64px;
  height: 38px;
  position: absolute;
  right: 52px;
  bottom: 5px;
  background-image: url("https://static.overlay-tech.com/assets/56a80cb6-8809-41b3-831a-7730c2a5afcc.svg");
}
.path516 {
  position: absolute;
  right: 96px;
  bottom: 25px;
}
.g470 {
  width: 17px;
  height: 14px;
  position: absolute;
  right: 96px;
  bottom: 27px;
  background-image: url("https://static.overlay-tech.com/assets/ea8f0a95-50e1-4415-bce1-bace68a70446.svg");
}
.path648 {
  position: absolute;
  right: 87px;
  bottom: 41px;
}
.g486 {
  width: 44px;
  height: 35px;
  position: absolute;
  right: 64px;
  bottom: 37px;
  background-image: url("https://static.overlay-tech.com/assets/dbfa8b10-0a43-4c86-b5b8-bfda80354dfa.svg");
}
.path226 {
  position: absolute;
  right: 104px;
  top: 75px;
}
.path650 {
  position: absolute;
  right: 99px;
  bottom: 58px;
}
.path194 {
  position: absolute;
  right: 33px;
  top: 147px;
}
.g538 {
  width: 31px;
  height: 25px;
  position: absolute;
  right: 61px;
  bottom: 43px;
  background-image: url("https://static.overlay-tech.com/assets/b8756c8e-83a6-49eb-98af-22609899fa76.svg");
}
.path182 {
  position: absolute;
  right: 20px;
  top: 169px;
}
.path180 {
  position: absolute;
  right: 19px;
  top: 163px;
}
.g654 {
  width: 23px;
  height: 3px;
  position: absolute;
  right: 67px;
  bottom: 42px;
  background-image: url("https://static.overlay-tech.com/assets/efcf9f59-83e4-4548-aca7-eea655fc5b5c.svg");
}
.g570 {
  width: 41px;
  height: 18px;
  position: absolute;
  right: 48px;
  bottom: 43px;
  background-image: url("https://static.overlay-tech.com/assets/56104ce7-4ed9-450e-ab80-181132c78332.svg");
}
.path228 {
  position: absolute;
  right: 77px;
  top: 94px;
}
.path184 {
  position: absolute;
  right: 20px;
  top: 177px;
}
.g554 {
  width: 35px;
  height: 46px;
  position: absolute;
  right: 33px;
  bottom: 38px;
  background-image: url("https://static.overlay-tech.com/assets/09de6a72-57c5-4664-80b6-4489f268bab0.svg");
}
.g670 {
  width: 2px;
  height: 11px;
  position: absolute;
  right: 61px;
  bottom: 63px;
  background-image: url("https://static.overlay-tech.com/assets/e1364277-9ec1-4a7c-b741-21b8f8a104be.svg");
}
.g602 {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 45px;
  bottom: 87px;
  background-image: url("https://static.overlay-tech.com/assets/90aa7e72-613b-48d8-a6c0-025529ca92d4.svg");
}
.path236 {
  position: absolute;
  right: 57px;
  top: 119px;
}
.g618 {
  width: 21px;
  height: 21px;
  position: absolute;
  right: 38px;
  bottom: 88px;
  background-image: url("https://static.overlay-tech.com/assets/450d68a4-1897-4559-9614-13e3dad6b867.svg");
}
.g586 {
  width: 9px;
  height: 10px;
  position: absolute;
  right: 45px;
  bottom: 80px;
  background-image: url("https://static.overlay-tech.com/assets/e7a0976b-9289-4f23-acea-33d453cab626.svg");
}
.g686 {
  width: 7px;
  height: 10px;
  position: absolute;
  right: 46px;
  bottom: 62px;
  background-image: url("https://static.overlay-tech.com/assets/17e01865-eae8-4697-b189-5fd1d0aff9d9.svg");
}
.g634 {
  width: 5px;
  height: 3px;
  position: absolute;
  right: 45px;
  bottom: 92px;
  background-image: url("https://static.overlay-tech.com/assets/f0a29cf8-85db-4f15-8595-c1f7c76b388e.svg");
}
.g702 {
  width: 12px;
  height: 11px;
  position: absolute;
  right: 35px;
  bottom: 52px;
  background-image: url("https://static.overlay-tech.com/assets/053eb13e-5d0e-43f0-bce7-600edd9f571e.svg");
}
.flexWrapperNineteen {
  padding: 40px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.relativeWrapperThree {
  margin-bottom: 37px;
  position: relative;
}
.rectangle8 {
  width: 88px;
  height: 15px;
  background-color: rgba(246, 244, 255, 1);
  position: absolute;
  left: 5px;
  top: 35px;
}
.num1000 {
  font-family: "Catamaran";
  font-size: 38px;
  font-weight: 600;
  color: black;
  position: relative;
}
.studentCommunity {
  width: 150px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(95, 95, 95, 1);
  position: absolute;
  right: -52px;
  bottom: -13px;
}
.relativeWrapperTwo {
  margin-bottom: 84px;
  margin-left: 20px;
  position: relative;
}
.rectangle {
  width: 83px;
  height: 15px;
  background-color: rgba(255, 236, 230, 1);
  position: absolute;
  left: 7px;
  top: 36px;
}
.curatedCourses {
  width: 123px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(95, 95, 95, 1);
  position: absolute;
  right: -27px;
  bottom: -36px;
}
.relativeWrapperFour {
  margin-left: 5px;
  position: relative;
}
.flexWrapperSix {
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: -5px;
  top: -50px;
}
.rect {
  width: 48px;
  height: 15px;
  background-color: rgba(251, 246, 232, 1);
  position: absolute;
  left: 5px;
  top: 37px;
}
.expertsToSolveYourDoubts {
  width: 121px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(95, 95, 95, 1);
  position: relative;
}
.relativeWrapperOne {
  margin-bottom: 123px;
  position: relative;
}
.flexWrapperThree {
  background-color: white;
  border-radius: 50%;
  padding: 51px 44px 37px;
  box-shadow: 2px 6px 30px 0 rgba(226, 231, 254, 1);
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: 637px;
  bottom: -82px;
}
.arrowDown {
  background-color: white;
  padding: 10px 16px 9px;
  position: relative;
}
.arrow {
  width: 45px;
  height: 58px;
  position: relative;
}
.shape {
  width: 45px;
  height: 58px;
  position: absolute;
  left: 16px;
  top: 10px;
}
.flexWrapperNine {
  padding: 207px 38px 216px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background-image: url("https://static.overlay-tech.com/assets/2565c85f-a803-427c-865d-2308d8c07464.svg");
}
.flexWrapperSeventeen {
  margin-bottom: 56px;
  padding: 0 0 0 380px;
  display: flex;
  align-items: flex-start;
}
.howDoesConceptBoyWork {
  font-family: "Open Sans";
  font-size: 44px;
  font-weight: 600;
  color: rgba(95, 95, 95, 1);
  margin-right: 212px;
}
.rectangle9 {
  width: 83px;
  height: 29px;
  background-color: rgba(255, 236, 230, 1);
  margin-top: 41px;
}
.rectangle10 {
  width: 48px;
  height: 29px;
  background-color: rgba(251, 246, 232, 1);
  position: absolute;
  right: 140px;
  top: 152px;
}
.group4 {
  display: flex;
  align-items: center;
  position: relative;
}
.group1 {
  width: 420px;
  height: 494px;
  background-color: white;
  border-radius: 12px;
  border: 1px solid rgba(243, 245, 255, 1);
  &:not(:last-of-type) {
    margin-right: 49px;
  }
}
.interactiveVideos {
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 400;
  color: rgba(61, 61, 61, 1);
  position: absolute;
  left: 86px;
  top: 199px;
}
.textSample {
  max-width: 344px;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  color: rgba(61, 61, 61, 1);
  position: absolute;
  left: 39px;
  top: 281px;
}
.sedUtPerspiciatisUndeOmnis {
  max-width: 344px;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  color: rgba(61, 61, 61, 1);
  position: absolute;
  left: 510px;
  top: 281px;
}
.nemoEnimIpsamVoluptatemQui {
  max-width: 344px;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  color: rgba(61, 61, 61, 1);
  position: absolute;
  right: 36px;
  top: 281px;
}
.communityOfExperts {
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 400;
  color: rgba(61, 61, 61, 1);
  position: absolute;
  left: 526px;
  top: 199px;
}
.questionBank {
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 400;
  color: rgba(61, 61, 61, 1);
  position: absolute;
  right: 108px;
  top: 199px;
}
.flexWrapperFifteen {
  margin-bottom: 112px;
  padding: 0 0 0 17px;
  display: flex;
  align-items: flex-start;
}
.flexWrapperEleven {
  background-color: rgba(255, 255, 255, 0.15);
  margin-right: 121px;
  padding: 69px 33px 216px 177px;
  position: relative;
}
.image2 {
  position: absolute;
  left: 63px;
  top: 248px;
}
.flexWrapperTwenty {
  padding: 98px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.boostYourLearning {
  font-family: "Open Sans";
  font-size: 44px;
  font-weight: 600;
  color: rgba(95, 95, 95, 1);
  margin-bottom: 55px;
}
.text2 {
  max-width: 525px;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  color: rgba(61, 61, 61, 1);
}
.flexWrapperTwelve {
  background-color: white;
  margin-bottom: 51px;
  margin-left: 183px;
  padding: 117px 152px 67px;
  box-shadow: 2px 6px 30px 0 rgba(226, 231, 254, 1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.loremIpsumDolorSitAmetCo {
  max-width: 771px;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  color: rgba(61, 61, 61, 1);
  margin-bottom: 58px;
}
.nameOfPerson {
  font-family: "Open Sans";
  font-size: 26px;
  font-weight: 600;
  color: rgba(81, 84, 255, 1);
  margin-bottom: 10px;
  margin-left: 290px;
}
.designation {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 400;
  color: rgba(95, 95, 95, 1);
  margin-left: 320px;
}
.group5 {
  margin-bottom: 28px;
  margin-left: 671px;
  display: flex;
  align-items: center;
}
.ellipse6 {
  width: 10px;
  height: 10px;
  background-color: rgba(196, 196, 196, 1);
  border-radius: 50%;
  &:not(:last-of-type) {
    margin-right: 11px;
  }
}
.ellipse5 {
  width: 11px;
  height: 11px;
  background-color: rgba(196, 196, 196, 1);
  margin-right: 11px;
  border-radius: 50%;
}
.ellipse2 {
  width: 12px;
  height: 12px;
  background-color: rgba(81, 84, 255, 1);
  margin-right: 11px;
  border-radius: 50%;
}
.flexWrapperSixteen {
  padding: 0 0 0 638px;
  display: flex;
  align-items: flex-start;
}
.arrowSide {
  background-color: white;
  padding: 13px 17px 2px 8px;
  position: relative;
  &:not(:last-of-type) {
    margin-right: 44px;
  }
}
.combinedShape {
  width: 35px;
  height: 45px;
  position: relative;
}
.combined5 {
  width: 35px;
  height: 45px;
  position: absolute;
  left: 8px;
  top: 13px;
}
